* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}
*:before, *:after{
    box-sizing: border-box;
}
/**Boot CSS**/
html,
body {
    position: relative;
    z-index: -1;
    background-image: url("../imagens/cool-background.png");
    color: #fff;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
}
html{
    -webkit-font-smoothing: antialiased;
}
body{
    overflow: hidder;
}
.center {
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}
.w33 {
    width: 33.3%;
    padding: 0 10px;
}
.w50 {
    padding: 0 10%;
    width: 50%;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
/**Estilização**/

/*Preloader*/
#preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(59,209,202,1);
    z-index: 999;
}
#preloader .inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bolas > div{
    display: inline-block;
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius:100%;
    margin: 3px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: animarBola;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.bolas > div:nth-child(1){
    animation-duration: 0.75s;
    animation-delay: 0;
}
.bolas > div:nth-child(2){
    animation: 0.75s;
    animation-delay: 0.12s;
}
.bolas > div:nth-child(3){
    animation-duration: 0.75s;
    animation-delay: 0.24s;
}

/*Títulos*/
.main-title {
    color: #fff;
    margin: 0 0 65px 0;
    font-size:40px;
    text-align: center;
}
.main-title::before{
    content: ' ';
    border-bottom: 2px solid rgba(59,209,202,1);;
    position: absolute;
    margin-top: 70px;
}
#main-title-projetos::before{
    width: 10%;
    left: 45%;
}
#main-title-especialidades::before{
    width:15%;
    left: 43%;
}
#main-title-sobre::before{
    width: 5%;
    left: 47.5%;
}

/*Header*/
header{
    height: 80px;
}
nav.desktop{
    margin-top: 15px;
    position: relative;
    border-radius: 8px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
nav.desktop a{
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    text-align: center;
    display: inline-block;
}
nav.desktop .animation{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background: rgba(59,209,202,1);
    border-radius: 8px;
    transition: all .5s ease 0s;
}
nav.desktop a:nth-child(1){
    width: 100px;
}
nav.desktop a:nth-child(1):hover~.animation{
    width: 100px;
    left: 0;
}
nav.desktop a:nth-child(2){
    width: 150px;
}
nav.desktop a:nth-child(2):hover~.animation{
    width: 150px;
    left: 100px;
}
nav.desktop a:nth-child(3){
    width: 150px;
}
nav.desktop a:nth-child(3):hover~.animation{
    width: 150px;
    left: 250px;
}
nav.desktop a:nth-child(4){
    width: 110px;
}
nav.desktop a:nth-child(4):hover~.animation{
    width: 110px;
    left: 400px;
}
nav.desktop a:nth-child(5){
    width: 120px;
}
nav.desktop a:nth-child(5):hover~.animation{
    width: 120px;
    left: 510px;
}
nav.mobile{
    display: none;
}
#introducao{
    padding-top:30px;
    margin-bottom: 30px;
    height: calc(100% - 80px);
}
#introducao .center{
    height: 450px;
}
.logo{
    width: 50%;
    height: 100%;
}
.agrupar{
    height: 450px;
    width: 100%;
}
.loader{
    --path: #ff8c00;
    --duration: 6s;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.loader h1{
    position: absolute;
    top: 282px;
    left: 200px;
    font-size: 60px;
    z-index: 2;
    width: 210px;
    color: rgba(59,209,202,1);
}
.loader p{
    font-size: 260px;
    transform: rotate(-22deg);
    position: absolute;
    top: 130px;
    left: 360px;
    width: 200px;
    color: rgba(59,209,202,1);
}
.loader svg{
    position: absolute;
    top: 160px;
    left: 293px;
    z-index: 1;
    height: 350px;
}
.loader svg circle{
    fill: none;
    stroke: var(--path);
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
}
.loader svg circle{
    stroke-dasharray: 150 50 150 50;
    stroke-dashoffset: 75;
    animation: pathCircle var(--duration) cubic-bezier(0.785,0.135,0.15,0.86) infinite;
}
.textoPerfil{
    width: 50%;
    height: 100%;
}
.textoPerfil h1, .textoPerfil h2, .textoPerfil h3, .textoPerfil h4{
    margin-top: 140px;
    margin-left: 60px;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}
.textoPerfil h1{
    font-size: 50px;
    font-weight: 900;
    animation: type 2s steps(40, end);
    animation-fill-mode: forwards;
}
.textoPerfil h2{
    margin-top: 15px;
    font-size: 25px;
    font-weight: 900;
    animation: type2 2s steps(40, end);
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
.textoPerfil h3, .textoPerfil h4{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    animation: type3 2s steps(40, end);
    animation-delay: 4s;
    animation-fill-mode: forwards;
}
.textoPerfil h4{
    animation: type4 2s steps(40, end),blink .5s step-end infinite alternate;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}
#sobre{
    padding-top: 20px;
    margin-bottom: 30px;
    height: 100vh;
}
#sobre .center{
    height: 100%;
}
#sobre h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 36px;
}
#sobre .foto{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#sobre img{
    width: 380px;
    height: 380px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
#sobre .apresentacao{
    /* background-color: yellow; */
    padding: 0 6% !important;
}
#sobre p{
    /* background-color: #0e76a8; */
    height: 380px;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: justify;
}
#especialidades{
    padding-top: 20px;
    margin-bottom: 30px;
}
#especialidades h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 45px;
}
#especialidades h2{
    font-size:25px;
    margin-bottom: 20px;
}
#soft-skills h2,
#hard-skills h2
{
    font-size:25px;
    margin-left: 120px;
    color: #939393;
}
.container-skills{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container-skills .box-skills{
    width: 220px;
    margin: 10px 20px 20px;
    height: 300px;
    padding: 12px;
    background: #3b3b3b;
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border: 1px solid rgba(59,209,202,1);
    transition: 1s;
}
.container-skills .box-skills:hover{
    border: 1px solid rgba(59,209,202,1);
    box-shadow: 0 4px 16px 0 rgba(59,209,202,1);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    transition: 1s;
    backdrop-filter:none;
    -webkit-backdrop-filter: none;
}
.box-skills i{
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    color: rgba(59,209,202,1);
}
.box-skills h3{
    font-size: 18px;
    margin-bottom: 20px;
    color: rgba(59,209,202,1);
    text-align: center;
}
.box-skills hr{
    border: 1px solid rgb(110, 110, 110);
}
.box-skills p{
    margin-top: 20px;
    font-size:13px;
    text-align: center;
    color: #ffffff;
}
#hard-skills .box-skills{
    width: 220px;
    margin: 10px 20px 20px;
    height: 220px;
    background: #3b3b3b;
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border: 1px solid rgba(59,209,202,1);
    transition: 1s;
    display: flex;
    justify-content:center;
    align-items: center;
    /* border-radius: 50%; */
}
.box-skills #resto{
    font-size: 20px;
    width: 90px;
    height: 100px;
}
.box-skills #php, .box-skills #bootstrap{
    font-size: 20px;
    width: 110px;
    height: 90px;
}
#projetos{
    margin-bottom: 30px;
    padding-top: 20px;
}
#projetos h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 36px;
}
#projetos .container-projetos{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#projetos .box-projetos{
    width: 350px;
    height: 400px;
    margin: 20px;
    background: #3b3b3b;
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border: 1px solid rgba(59,209,202,1);
    box-shadow: 0 4px 16px 0 rgba(59,209,202,1);
    transition: 1s;
}
#projetos .box-projetos h2{
    margin-top: 10px;
    height: 45px;
    width: 100%;
    text-align: center;
    line-height: 45px;
}
#projetos .box-projetos video{
    width: 99%;
    height: 200px;
    display: flex;
    margin: -10px auto 10px;
}
#projetos .box-projetos .descricao-projetos{
    height: 150px;
    width: 100%;
    padding: 10px;
}
#projetos .box-projetos .descricao-projetos h3{
    font-size: 15px;
}
#projetos .box-projetos .descricao-projetos p{
    font-size: 12px;
    margin-top: 10px;
    color:#939393;
}

#contato{
    height: 100vh;
    margin-bottom: 30px;
} 
#contato .center{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contato .dados{
    width: 350px;
    position: relative;
    background: rgb(67, 67, 67);
    box-shadow: 0 4px 16px 0 rgba(59,209,202,1);
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border: 1px solid rgba(59,209,202,1);
}
#contato .dados .dadosPessoais{
    height: 80px;
    padding-top: 11px;
    padding-bottom: 11px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#contato .dados .dadosPessoais h2{
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    color: rgb(225, 225, 225);
}
#contato .dados .dadosPessoais p{
    text-align: center;
    font-size: 14px;
    padding: 3px 0;
    color: rgb(140, 140, 140);
}
#contato .dados .dadosPessoais a{
    text-align: center;
    font-size: 14px;
    padding: 3px 0;
    color: rgb(140, 140, 140);
    text-decoration: none;
}
#contato .dados .dadosPessoais a:visited{
    text-decoration: none;
}
#contato .dados .dadosPessoais a:hover{
    text-decoration: underline;
}
footer{
    position: static; 
    bottom: 0; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(67, 67, 67);
    height: 90px;
}
footer ul{
    position: relative;
    display: flex;
    top: 10px;
}
footer ul li{
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}
footer ul li a{
    text-decoration: none;
}
footer ul li a .fa-brands{
    font-family: "FontAwesome";
    font-style: normal;
    font-size: 3em;
    color: #222;
}
.box-especialidades .fa-brands{
    font-family: "FontAwesome";
    font-style: normal;
    font-size: 3em;
    color: #ccc;
}
.box-especialidades .fa-solid{
    font-family: "FontAwesome";
    font-style: normal;
    font-size: 3em;
    color: #ccc;
}
footer ul li a .fa-solid{
    font-family: "FontAwesome";
    font-style: normal;
    font-size: 3em;
    color: #222;
}
footer ul li a::before{
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3em;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
footer ul li:nth-child(1) a::before{
    content: "\f0e1";
    color: #0e76a8;
    border-bottom: 4px solid #0e76a8;
}
footer ul li:nth-child(2) a::before{
    content: "\f09b";
    color: #656565;
    border-bottom: 4px solid #656565;
}
footer ul li:nth-child(3) a::before{
    content: "\f0e0";
    color: #0047ab ;
    border-bottom: 4px solid #0047ab ;
}
footer ul li:nth-child(4) a::before{
    content: "\f232";
    color: #25d366;
    border-bottom: 4px solid #25d366;
}
footer ul li:hover a::before{
    height: 100%;
}
footer p{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: black;
}
@keyframes animarBola{
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    16% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }
    33% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes type {
    from {
        width: 0
    }
    to {
        width: 100%;
    }
}
@keyframes type2 {
    from {
        width: 0
    }
    to {
        width: 100%;
    }
}
@keyframes type3 {
    from {
        width: 0
    }
    to {
        width: 100%;
    }
}
@keyframes type4 {
    from {
        width: 0
    }
    to {
        width: 100%;
    }
}
@keyframes blink {
    50%{    
        border-color: transparent;
    }
}
@keyframes pathCircle{
    25%{
        stroke-dashoffset: 125;
    }
    50%{
        stroke-dashoffset: 175;
    }
    75%{
        stroke-dashoffset: 225;
    }
    100%{
        stroke-dashoffset: 275;
    }
}
@media screen and (max-width: 1250px) {
    .loader h1{
        left: 120px;
    }
    .loader p{
        left: 280px;
    }
    .loader svg{
        left: 213px;
    }
}
@media screen and (max-width: 1050px) {
    .loader h1{
        left: 80px;
    }
    .loader p{
        left: 240px;
    }
    .loader svg{
        left: 173px;
    }
}
@media screen and (max-width: 900px) {
    #main-title-projetos::before{
        width: 120px;
        left: 37.5%;
    }
    #main-title-especialidades::before{
        width:200px;
        left: 30%;
    }
    #main-title-sobre::before{
        width: 80px;
        left: 42%;
    }
    nav.desktop {
        display: none;
    }
    nav.mobile {
        display: block;
    }
    .botao-menu-mobile {
        width:80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        cursor: pointer;
        color: rgba(59,209,202,1);
    }
    nav.mobile ul {
        top: 80px;
        z-index: 3;
        position: absolute;
        right: 0;
        width: 40%;
        display: none;
        text-align: center;
    }
    nav.mobile li {
        font-weight: 300;
        width: 100%;
        display: block;
        font-size: 17px;
        line-height: 45px;
    }
    nav.mobile li a {
        display: block;
        color: #fff;
        text-decoration: none;
    }
    nav.mobile li:hover {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background: rgb(114, 114, 114);
    }
    nav.mobile li a:hover{
        font-weight: bold;
        color: #fff;
        width: 100%;
        height: 100%;
    }
    #introducao{
        height: calc(100%-80px);
    }
    #sobre{
        height: 140vh;
    }
    #contato{
        height: 100%;
    }
    #contato .center{
        align-items:start;
    }
    .loader h1{
        left: 20px;
        top: 197;
    }
    .loader p{
        left: 180px;
        top: 45px;
    }
    .loader svg{
        left: 113px;
        top: 75px;
    }
    .logo{
        height: 250px;
        width: 100%;
    }
    .agrupar{
        height: 290px;
    }
    .textoPerfil{
        color: #fff;
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    .textoPerfil h1{
        font-size: 35px;
        margin-top: 20px;
        text-align: center;
        margin-left: 0;
    }
    .textoPerfil h2,.textoPerfil h3,.textoPerfil h4{
        text-align: center;
        margin-left: 0;
    }
    .textoPerfil h2{
        font-size: 18px;
    }
    .textoPerfil h3,.textoPerfil h4{
        font-size: 15px;
    }
    #sobre h1{
        text-align: center;
    }
    #sobre .foto{
        width: 100%;
        margin: 0 auto;
    }
    #sobre .apresentacao{
        width: 100%;
    }
    #soft-skills h2,
    #hard-skills h2{
        margin: 10px 0;
        text-align: center;
    }
    .container-skills .box-skills{
        width: 200px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #hard-skills .box-skills{
        width: 120px;
        height: 120px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #projetos h1{
        text-align: center;
    }
    footer ul li a .fa-brands{
        font-size: 2.3em;
    }
    footer ul li a .fa-solid{
        font-size: 2.3em;
    }
    footer ul li a::before{
        font-size: 2.3em;
    }
}
@media screen and (max-width: 500px) {
    .loader h1{
        left: 30px;
        font-size: 48px;
    }
    .loader p{
        left: 190px;
        font-size: 208px;
    }
    .loader svg{
        left: 123px;
        height: 280px;
    }
    .textoPerfil{
        margin-top: 20px;
    }
    #sobre img{
        width: 350px;
        height: 350px;
    }
    #sobre .apresentacao{
        margin-top: 10px;
    }
}

