* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}
*:before, *:after{
    box-sizing: border-box;
}
/**Boot CSS**/
html,
body {
    position: relative;
    z-index: -1;
    background-image: url("../imagens/cool-background.png");
    color: white;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
}
html{
    -webkit-font-smoothing: antialiased;
}
body{
    overflow-x: hidden;
}
.center {
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}
.w33 {
    width: 33.3%;
    padding: 0 10px;
}
.w50 {
    padding: 0 10%;
    width: 50%;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
/**Estilização**/
header{
    height: 80px;
}
nav.desktop{
    margin-top: 15px;
    position: relative;
    border-radius: 8px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
nav.desktop a{
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    text-align: center;
    display: inline-block;
}
nav.desktop .animation{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background: rgba(59,209,202,1);
    border-radius: 8px;
    transition: all .5s ease 0s;
}
nav.desktop a:nth-child(1){
    width: 100px;
}
nav.desktop a:nth-child(1):hover~.animation{
    width: 100px;
    left: 0;
}
nav.desktop a:nth-child(2){
    width: 110px;
}
nav.desktop a:nth-child(2):hover~.animation{
    width: 110px;
    left: 100px;
}
nav.desktop a:nth-child(3){
    width: 150px;
}
nav.desktop a:nth-child(3):hover~.animation{
    width: 150px;
    left: 210px;
}
nav.desktop a:nth-child(4){
    width: 150px;
}
nav.desktop a:nth-child(4):hover~.animation{
    width: 150px;
    left: 360px;
}
nav.desktop a:nth-child(5){
    width: 120px;
}
nav.desktop a:nth-child(5):hover~.animation{
    width: 120px;
    left: 510px;
}
nav.mobile{
    display: none;
}
section.introducao{
    margin-top: 30px;
    height: 450px;
    background-color: red;
}
.logo{
    width: 50%;
    height: 100%;
    background-color: green;
}
.agrupar{
    height: 450px;
    background-color: #09095a;
}
.loader{
    --path: #ff8c00;
    --duration: 6s;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: blue;
}
.loader h1{
    position: absolute;
    top: 282px;
    left: 200px;
    font-size: 60px;
    z-index: 2;
    width: 210px;
    color: rgba(59,209,202,1);
    background-color: brown;
}
.loader p{
    font-size: 260px;
    transform: rotate(-22deg);
    position: absolute;
    top: 130px;
    left: 360px;
    width: 200px;
    color: rgba(59,209,202,1);
    background-color: coral;
}
.loader svg{
    position: absolute;
    top: 160px;
    left: 293px;
    z-index: 1;
    height: 350px;
    background-color: chartreuse;
}
.loader svg circle{
    fill: none;
    stroke: var(--path);
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
    background-color:darkgreen;
}
.loader svg circle{
    stroke-dasharray: 150 50 150 50;
    stroke-dashoffset: 75;
    animation: pathCircle var(--duration) cubic-bezier(0.785,0.135,0.15,0.86) infinite;
}
.textoPerfil{
    width: 50%;
    height: 100%;
    background-color: #0e76a8;
}
.textoPerfil h1, .textoPerfil h2, .textoPerfil h3, .textoPerfil h4{
    margin-top: 140px;
    margin-left: 60px;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}
.textoPerfil h1{
    font-size: 50px;
    font-weight: 900;
    animation: type 2s steps(40, end);
    animation-fill-mode: forwards;
}
.textoPerfil h2{
    margin-top: 15px;
    font-size: 25px;
    font-weight: 900;
    animation: type2 2s steps(40, end);
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
.textoPerfil h3, .textoPerfil h4{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    animation: type3 2s steps(40, end);
    animation-delay: 4s;
    animation-fill-mode: forwards;
}
.textoPerfil h4{
    animation: type4 2s steps(40, end),blink .5s step-end infinite alternate;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}
.sobre{
    padding-top: 20px;
    height: 480px;
    /* background-color: orange; */
}
.sobre .center{
    height: 100%;
    bottom: 60px;
    /* background-color: #25d366; */
}
.sobre h1{
    font-size: 40px;
    padding-left: 15px;
    margin-bottom: 36px;
    border-left: 2px solid rgba(59,209,202,1);
    border-bottom: 2px solid rgba(59,209,202,1);
    /* background-color: red;  */
}
.sobre .foto{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.sobre img{
    width: 380px;
    height: 380px;
    border-left: 1px solid rgba(59,209,202,1);
    border-bottom: 1px solid #ff8c00;
    border-right: 1px solid #ff8c00;
    box-shadow: -5px -10px 30px rgba(59,209,202,1), 6px 9px 15px#ff8c00;
    -webkit-box-shadow: -5px -10px 30px rgba(59,209,202,1), 6px 9px 15px #ff8c00;
    -moz-box-shadow: -5px -10px 30px rgba(59,209,202,1), 6px 9px 15px #ff8c00;
}
.sobre .apresentacao{
    /* background-color: yellow; */
    padding: 0 6% !important;
}
.sobre p{
    /* background-color: #0e76a8; */
    height: 380px;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: justify;
}
.especialidades{
    padding-top: 20px;
}
.soft-skills ul li{
    list-style: none;
}
.soft-skills ul li:before{
    content: '\2022';
    font-size: 30px;
    padding: 0 10px 0 0;
    color: #ff8c00;
}
.soft-skills h2{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    border-bottom:1px solid #ff8c00;
}
.soft-skills li{
    font-size: 20px;
}
.hard-skills{
    padding: 0;
}
.hard-skills h2{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    border-bottom:1px solid #ff8c00;
}
.hard-skills .wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.especialidades .box-especialidades{
    padding: 0;
    margin: 5px 40px 5px;
    width: 80px;
    height: 100px;
}
.especialidades h1{
    font-size: 40px;
    padding-left: 15px;
    margin-bottom: 20px;
    border-left: 2px solid rgba(59,209,202,1);
    border-bottom: 2px solid rgba(59,209,202,1);
}
.especialidades img{
    width: 45px;
    height: 50px;
    margin: 0 25%;
}
#php, #ingles, #bootstrap{
    width: 50px;
    height: 42px;
    margin: 0 20%;
}
.especialidades h4{
    padding-top: 10px;
    text-align: center;
    color: white;
}   
.projetos{
    padding-top: 20px;
}
.projetos h1{
    font-size: 40px;
    padding-left: 15px;
    margin-bottom: 36px;
    border-left: 2px solid rgba(59,209,202,1);
    border-bottom: 2px solid rgba(59,209,202,1);
}
.projetos .container-projetos{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.projetos .box-projetos{
    width: 350px;
    height: 250px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.projetos .box-projetos h2{
    height: 45px;
    background-color: #444444;
    width: 100%;
    text-align: center;
    line-height: 45px;
}
.projetos .box-projetos video{
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 100%;
    height: 80%;
}
.contato{
    padding-top: 30px;
    height: 400px;
} 
.contato .center{
    height: 400px;
    width: 75%;
}
.contato .w50{
    padding: 0;
    margin: 0;
}
.contato .formulario{
    height: 400px;
    width: 55%;
    background-color: #444444;
    position: relative;
}
.contato .formulario h1{
    width: 100%;
    height: 60px;
    font-size: 45px;
    font-weight: 400;
    padding-top: 5px;
    text-align: center;
}
.contato .formulario form{
    width: 100%;
}
.contato .formulario form input[type=text],.contato .formulario form input[type=email]{
    width: 92%;
    height: 45px;
    margin: 15px 4% 0 4%;
    padding-left: 13px;
    border: none;
    background-color: rgb(216, 216, 216);
    caret-color: rgba(59,209,202,1);
    outline-color:#ff8c00;
    font-size: 14px;
    color: #656565;
}
.contato .formulario form #mensagem{
    width: 92%;
    height: 105px;
    margin: 15px 4% 0 4%;
    padding-top: 8px;
    padding-left: 13px;
    border: none;
    background-color: rgb(216, 216, 216);
    caret-color: rgba(59,209,202,1);
    outline-color: #ff8c00;
    font-size: 14px;
    color: #656565;
}
.contato .formulario form input[type=submit]{
    width: 30%;
    height: 52px;
    margin: 15px 4% 0 4%;
    border: none;
    background-color: rgba(59,209,202,1);
    font-size: 17px;
}
.contato .formulario form input[type=submit]:hover{
    font-size: 20px;
    background-color: rgb(49, 176, 170);
}
.contato .dados{
    background-color: rgb(216, 216, 216);
    width: 45%;
    position: relative;
}
.contato .dados .dadosPessoais{
    height: 80px;
    padding: 11px 35px;
}
.contato .dados .dadosPessoais h2{
    font-size: 19px;
    font-weight: 400;
    color: black;
}
.contato .dados .dadosPessoais p{
    font-size: 14px;
    padding: 3px 0;
    color: rgb(140, 140, 140);
}
footer{
    position: static; 
    bottom: 0; 
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(67, 67, 67);
    height: 90px;
}
footer ul{
    position: relative;
    display: flex;
    top: 10px;
}
footer ul li{
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}
footer ul li a{
    text-decoration: none;
}
footer ul li a .fa-brands{
    font-family: "FontAwesome";
    font-style: normal;
    font-size: 3em;
    color: #222;
}
footer ul li a .fa-solid{
    font-family: "FontAwesome";
    font-style: normal;
    font-size: 3em;
    color: #222;
}
footer ul li a::before{
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3em;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
footer ul li:nth-child(1) a::before{
    content: "\f0e1";
    color: #0e76a8;
    border-bottom: 4px solid #0e76a8;
}
footer ul li:nth-child(2) a::before{
    content: "\f09b";
    color: #656565;
    border-bottom: 4px solid #656565;
}
footer ul li:nth-child(3) a::before{
    content: "\f0e0";
    color: #0047ab ;
    border-bottom: 4px solid #0047ab ;
}
footer ul li:nth-child(4) a::before{
    content: "\f232";
    color: #25d366;
    border-bottom: 4px solid #25d366;
}
footer ul li:hover a::before{
    height: 100%;
}
footer p{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: black;
}
@keyframes type {
    from {
        width: 0
    }
    to {
        width: 100%;
    }
}
@keyframes type2 {
    from {
        width: 0
    }
    to {
        width: 100%;
    }
}
@keyframes type3 {
    from {
        width: 0
    }
    to {
        width: 100%;
    }
}
@keyframes type4 {
    from {
        width: 0
    }
    to {
        width: 100%;
    }
}
@keyframes blink {
    50%{    
        border-color: transparent;
    }
}
@keyframes pathCircle{
    25%{
        stroke-dashoffset: 125;
    }
    50%{
        stroke-dashoffset: 175;
    }
    75%{
        stroke-dashoffset: 225;
    }
    100%{
        stroke-dashoffset: 275;
    }
}
@media screen and (max-width: 1250px) {
    .loader h1{
        left: 120px;
    }
    .loader p{
        left: 280px;
    }
    .loader svg{
        left: 213px;
    }
}
@media screen and (max-width: 1050px) {
    .loader h1{
        left: 80px;
    }
    .loader p{
        left: 240px;
    }
    .loader svg{
        left: 173px;
    }
    .contato{
        padding-top: 0;
        height: 845px;
    }
    .contato .center{
        width: 100%;
        height: 845px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .contato .formulario{
        width: 80%;
        margin-top: 30px;
    } 
    .contato .formulario h1{
        font-size: 35px;
    }
    .contato .dados{
        width: 80%; 
        margin-top: 15px;
    }
}
@media screen and (max-width: 900px) {
    nav.desktop {
        display: none;
    }
    nav.mobile {
        display: block;
    }
    .botao-menu-mobile {
        width:80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        cursor: pointer;
        color: rgba(59,209,202,1);
    }
    nav.mobile ul {
        top: 80px;
        z-index: 3;
        position: absolute;
        right: 0;
        width: 40%;
        display: none;
        text-align: center;
    }
    nav.mobile li {
        font-weight: 300;
        width: 100%;
        display: block;
        font-size: 17px;
        line-height: 45px;
    }
    nav.mobile li a {
        display: block;
        color: white;
        text-decoration: none;
    }
    nav.mobile li:hover {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background: rgb(114, 114, 114);
    }
    nav.mobile li a:hover{
        font-weight: bold;
        color: white;
        width: 100%;
        height: 100%;
    }
    .loader h1{
        left: 20px;
    }
    .loader p{
        left: 1800px;
    }
    .loader svg{
        left: 113px;
    }
    .logo{
        height: 250px;
        width: 100%;
    }
    .loader h1{
        top: 197;
    }
    .loader p{
        top: 45px;
    }
    .loader svg{
        top: 75px;
    }
    .textoPerfil{
        color: white;
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    .textoPerfil h1{
        font-size: 35px;
        margin-top: 20px;
        text-align: center;
        margin-left: 0;
    }
    .textoPerfil h2,.textoPerfil h3,.textoPerfil h4{
        text-align: center;
        margin-left: 0;
    }
    .textoPerfil h2{
        font-size: 18px;
    }
    .textoPerfil h3,.textoPerfil h4{
        font-size: 15px;
    }
    .sobre h1{
        text-align: center;
    }
    .sobre .foto{
        width: 100%;
        margin: 0 auto;
    }
    .sobre .apresentacao{
        align-items: flex-start;
        width: 100%;
        margin-top: -40px;
        margin-bottom: 30px;
    }
    .especialidades h1{
        text-align: center;
    }
    .soft-skills, .hard-skills{
        width: 100%;
    }
    .soft-skills ul{
        text-align: center;
    }
    .soft-skills li{
        font-size: 17px;
    }
    .hard-skills{
        margin-top: 20px;
    }
    .hard-skills h2{
        width: 82%;
        margin: 0 auto 20px auto;
    }
    .projetos h1{
        text-align: center;
    }
    footer{
        margin-top: 130px;
    }
    footer ul li a .fa-brands{
        font-size: 2.3em;
    }
    footer ul li a .fa-solid{
        font-size: 2.3em;
    }
    footer ul li a::before{
        font-size: 2.3em;
    }
}


